@import '../../theme/sass/auth';
@import "../../theme/sass/star-rating";
@import "../../theme/sass/nouislider.min.scss";
.roundImage-tutor {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: solid 2px #e5e5e5;
}

.tutor-place-text {
    color: #34495e;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'ProximaNova-Reg';
}

.subjects-text {
    color: #232f84;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    font-family: 'ProximaNova-Reg';
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.filters {
    .mat-form-field-underline {
        visibility: hidden;
    }
    .mat-form-field-ripple {
        visibility: hidden;
        background-color: white;
    }
    .mat-focused.mat-form-field-underline.mat-form-field-ripple {
        visibility: hidden;
    }
    .mat-expansion-panel {
        border-bottom: 2px solid #f5f5f5;
    }
    .mat-expansion-indicator::after {
        color: #f15d25;
    }
    .grade-radio-group {
        display: inline-flex;
        flex-direction: column;
    }
    .example-radio-button {
        margin: 5px;
    }
    .example-selected-value {
        margin: 15px 0;
    }
    .grades-expansion {
        text-align: left;
        overflow: hidden;
    }
    .mat-radio-checked .mat-radio-inner-circle {
        transform: scale(.9);
    }
    // .mat-radio-button.mat-accent .mat-radio-inner-circle {
    //     background-color: white !important;
    //     content: url('/assets/img/ic-pinkcheck.png');
    // }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: transparent !important;
    }
    #grades .mat-expansion-panel-body,
    #stars .mat-expansion-panel-body {
        margin: 0px;
        padding-top: 2%;
        padding-left: 8%;
    }
    .mat-radio-label-content {
        display: inline-flex;
    }
    .mat-radio-container {
        width: 12px;
        height: 12px;
    }
    .mat-radio-outer-circle {
        border-color: #f0f0f0;
    }
}

.certificate-icons {
    // width: 17px;
    // height: 19px;
}

.ui-slider {
    background-color: #f0f0f0 !important;
    box-shadow: 0 1px 3px #f0f0f0 inset !important;
}

.ui-slider .ui-slider-range {
    background-color: $main-green !important;
    box-shadow: 0 1px 3px $main-green inset !important;
    cursor: pointer;
}

// .star {
//     padding-right: 5%;
// }

.ui-slider-horizontal {
    vertical-align: middle;
    height: 5px;
    // width: 50%;
}

.stars-display {
    display: flex;
}

.range-text {
    border: 1px solid #e5e5e5 !important;
    border-radius: 2%;
    font-size: 12px;
    // font-family: 'ProximaNova-Reg';
}

.mat-expansion-panel-body {
    text-align: left;
}

#sub {
    .mat-expansion-panel-content {
        text-align: left;
    }
}

.mat-action-row {
    justify-content: space-evenly !important;
    padding-right: 24px;
    border: none !important;
}

#rates {
    .mat-input-element {
        width: 80%;
        font-family: 'ProximaNova-Reg';
        height: 50px;
        text-align: center !important;
    }
}

.ui-slider .ui-slider-handle {
    background: url('/assets/img/base.png') !important;
    background-repeat: no-repeat !important;
}
