<div style="float:right;padding:0px; margin-bottom:0px;" class="row" mat-dialog-title>
    <button (click)="closeDialog()" style="border:none" class="close-btn" mat-button mat-dialog-close="true">
        <img src="assets/img/close.png">
    </button>
</div>
<mat-dialog-content>
    <!-- <div style="float:right" mat-dialog-title>
        <button style="border:none" mat-button mat-dialog-close="true">
                    <i class="fa fa-times fa-fw fa-3xCross crossButton" aria-hidden="true"> </i>
                </button>
    </div> -->
    <div class="myContainer justify-content-center mb-4">
        <h2 class="headings text-center"> {{notificationData.header}} </h2>
        <div *ngIf="notificationData && notificationData !=undefined" class="text-center ">
            <!-- <div class="row" *ngIf="notificationData.tutor && notificationData.tutor != undefined " class="dialogText mb-2 capitalize">
                Your tutor ( {{notificationData.tutor.firstName }} {{notificationData.tutor.lastName? (notificationData.tutor.lastName.substr(0,1)
                +'.') : ''}} ) has accepted your request</div> -->


            <div class="row" *ngIf="notificationData.student && notificationData.student != undefined ">
                <div class="col-12 col-sm-12 notification-data capitalize"> Child: {{notificationData.student.firstName}} {{notificationData.student.lastName? (notificationData.student.lastName.substr(0,1) +'.') : ''}} </div>
            </div>
            <div *ngIf="endTime != undefined && startTime!= undefined " class="row">
                <div class="col-12 col-sm-12 notification-data"> Date & Time: {{startTime }}{{endTime? '-' : '' }}{{ endTime }} </div>
            </div>

            <div *ngIf="notificationData.booking && notificationData.booking !=undefined && notificationData.booking.subjects && notificationData.booking.subjects !=undefined" class="row ">
                <div class="col-12 col-sm-12  notification-data"> Subjects:
                    <span *ngFor="let subjects of notificationData.booking.subjects;let comma=last">
                        <span *ngIf="subjects.subcategories && subjects.subcategories.length>0">
                            <span *ngFor="let subSubjects of subjects.subcategories;let i =index;let last=last " class="status-data">
                                {{subSubjects.name}}{{(last && comma)? '':','}} &nbsp; </span>
                    </span>
                    </span>
                </div>
            </div>


            <div class="row justify-content-center">
                <button (click)="closeDialog()" class="pinkButton mt-4 arrow-btn">OK
                    <!-- <span style="color:white;margin-right:6px;float:right">  -->
                    <i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i>
                    <!-- </span> -->
                </button>
            </div>

            <div class="row justify-content-center">
                <a (click)="contactTutor(notificationData.booking._id)" class="pink-link"> Contact Tutor </a>
            </div>



        </div>
    </div>
</mat-dialog-content>