<div style="float:right;padding:0px;margin-bottom:0px" class="row" mat-dialog-title>
    <button (click)="closeDialog()" style="border:none" class="close-btn" mat-button mat-dialog-close="true">
        <img src="assets/img/close.png">
    </button>
</div>
<mat-dialog-content>
    <div class=" mb-4">
        <!--        <h2 class="headings text-center" style="margin-top:0;">Delete Child</h2>-->
        <div *ngIf="childData != undefined" class="text-center mt-4">
            <p class="dialogText mb-2"> Are you sure you'd like to delete {{childData.firstName}}?</p>
        </div>
        <div class="justify-content-center text-center ">
            <div class="mt-4 col-lg-12 col-md-12 col-sm-12 "
                 style="margin:auto;display:inline-table;">
                <button style="height:44px" class="pinkButton mb-2" (click)="closeDialog()">Cancel</button>
                <button style="height:44px" class="loginButton mb-2 ml-2" (click)="deleteChild()">Yes</button>&nbsp;
            </div>
        </div>
    </div>
</mat-dialog-content>
