<div class="container-fluid  mycontainer-fluid pt-4 max-width ">


    <div *ngIf="tutor_details" class="mb-2 mt-3 tutor_details_1"
         style="background-color:white;box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);padding-right:2rem">
        <div class="row myRow tutor_details_1_inner">
            <!-- tutors detials -->
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mt-4 mb-4 text-center">
                <div class=" justify-content-center ">
                    <img
                        [(src)]="(tutor_details.profilePicture && tutor_details.profilePicture.thumbnail) ?tutor_details.profilePicture.thumbnail: tutor_image"
                        class="roundImage-tutor">
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mt-4 mb-4">
                <div class="row myRow mobile-text-center ">
                    <h2 class="tutor-detail-heading" style="text-align:left">
                        <span class="tutor-name proximanova-bold font-24 "> {{tutor_details ? tutor_details.firstName :
                            'N/A'}} {{tutor_details.lastName ? ( tutor_details.lastName.substr(0, 1) + '.' ) : ''}}&nbsp;
                        </span>
                        <span placement="bottom" [ngbTooltip]="bgCheck" class="mr-2 pointer"> <span> <img
                            class="certificate-icons " [(src)]="certi_bgCheck"> </span> </span>
                        <span placement="bottom" [ngbTooltip]="degreeCheck"
                              *ngIf="tutor_details.tutor && tutor_details.tutor.educationalDegrees && tutor_details.tutor.educationalDegrees.length>0"
                              class="mr-2 pointer"> <span> <img class="certificate-icons "
                                                                [(src)]="certi_degCheck"></span></span>
                        <span placement="bottom" [ngbTooltip]="syncEnable"
                              *ngIf="tutor_details.tutor && tutor_details.tutor.sylvanSyncEnabled == true"
                              class="mr-2 pointer"> <img class="certificate-icons " [(src)]="certi_sylCheck"> </span>
                        <span placement="bottom" [ngbTooltip]="adminCertified"
                              *ngIf="tutor_details.tutor && tutor_details.tutor.adminCertified == true"
                              class="mr-2 pointer"> <img style="margin-top: 3px;" class="certificate-icons "
                                                         [(src)]="certi_stateCheck"> </span>
                        <span placement="bottom" [ngbTooltip]="onlineSessionss"
                              *ngIf="tutor_details.tutor && tutor_details.tutor.isTutorOfferOnlineClasses == true"
                              class="mr-2 pointer"> <img class="certificate-icons " [(src)]="onlineSessions"> </span>
                    </h2>
                </div>
                <ng-template #bgCheck>
                    <h2 class="font-16"> Background Check</h2>
                    <p class="font-14">
                        We require every tutor to successfully pass a secure, third-party background check prior to
                        becoming a {{commonService.CONSTANT.PROJECT_NAME}} tutor. We also re-check each tutor every year.
                    </p>
                </ng-template>
                <ng-template #degreeCheck class="mt-2 p-4">
                    <h2 class="font-16"> Degrees</h2>
                    <p class="font-14">
                        All of our tutors have at least a four-year college degree. Review each tutor's profile to see
                        his or her educational background and degree credentials.
                    </p>
                </ng-template>
                <ng-template #syncEnable class="mt-2 p-4">
                    <h2 class="font-16"> Certified in the Sylvan Method</h2>
                    <p class="font-14">
                        Tutors who are Certified in the Sylvan Method have completed additional product training and
                        have access to SylvanSync, our digital learning platform, which provides personalized and
                        adaptive learning targeted to your child’s needs in reading and math.
                    </p>
                </ng-template>
                <ng-template #adminCertified class="mt-2 p-4">
                    <h2 class="font-16"> Teacher State Certification</h2>
                    <p class="font-14">
                        Tutors with a state teaching certification have the distinction of meeting strict
                        qualifications in the state where they hold their certificate. State teaching certificates
                        ensure a standard of teaching expertise and experience.
                    </p>
                </ng-template>
                <ng-template #onlineSessionss class="mt-2 p-4">
                    <h2 class="font-16">Offers Online Tutoring</h2>
                    <p class="font-14">
                        This tutor provides live 1:1 online instruction. Online sessions are delivered through a
                        reliable and proven platform.
                    </p>
                </ng-template>
                <div id="starRating2" (click)="moveToRating()" class="row myRow mobile-justify-center mt-2 "
                     *ngIf="tutor_details.tutor && tutor_details.tutor.ratedCount != undefined">
                    <ng-template #t let-fill="fill">
                        <span class="starDetails" [class.full]="fill === 100">
                            <span class="halfDetails" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>


                    <ngb-rating class="starsInside" [rate]="roundOff(tutor_details.tutor.avgRating)" [starTemplate]="t"
                                [readonly]="true" max="5">
                    </ngb-rating>

                    <span style="cursor:pointer !important" (click)="moveToRating()"
                          style=" cursor:pointer !important; margin-top: -2px; margin-left: 5px; color:black"
                          *ngIf="tutor_details.tutor && tutor_details.tutor != undefined && tutor_details.tutor.ratedCount >0"
                          class="pinkText marginMobileDetails">
                        {{tutor_details.tutor.avgRating | number:'1.1-1'}} ({{tutor_details.tutor.ratedCount}})
                    </span>

                </div>

                <div class="row myRow tutor-place-text mobile-justify-center mt-2 proximanova-semibold font-16 ">
                    {{( tutor_details.tutor && tutor_details.tutor.locationDetails &&
                    tutor_details.tutor.locationDetails.city != undefined ) ? ( tutor_details.tutor.locationDetails.city +
                    ',' ) : '' }}&nbsp; {{( tutor_details.tutor && tutor_details.tutor.locationDetails ) ?
                    tutor_details.tutor.locationDetails.state
                    : '' }}
                </div>
                <div class="row myRow tutor-details-text proximanova-reg mobile-justify-center  ">
                    <span style="    width: 100%;
                    word-wrap: break-word;" class=" proximanova-reg font-16">
                        <strong>Travel Policy:</strong> <span class="tutor-details-text font-15 proximanova-reg "> I
                            will travel up to {{tutor_details.tutor ? tutor_details.tutor.maxDistance : 'N/A'}} miles.
                        </span> </span>
                </div>
                <div class="row myRow tutor-details-text proximanova-reg mobile-justify-center mt-2  ">
                    <span style="    width: 100%;
                    word-wrap: break-word;" class=" proximanova-reg font-16">
                        {{( tutor_details.tutor && tutor_details.tutor.profileHeadLine != undefined ) ?
                        tutor_details.tutor.profileHeadLine : ''}} </span>
                </div>

            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 mt-4 " style="text-align:right;">

                <div class="row myRow">
                    <h2 class="text-right-address " class="tutor-detail-heading" style="text-align:right"
                        *ngIf="!isRateChargeSuppressNow">
                        <span class="tutor-name font-24 parixnova-bold" *ngIf="!hasPartnerCode">
                            ${{( tutor_details?.tutor && tutor_details?.tutor.hourlyRate != undefined ) ? ( tutor_details?.tutor?.hourlyRate ).toFixed(2) : ''}}
                            /hr
                        </span>
                        <span *ngIf="hasPartnerCode && hourlyRate" class="tutor-name font-24 parixnova-bold">
                            {{hourlyRate || tutor_details?.partnershipCode[0]?.hourlyRate |  currency:'USD':true:'1.2-2'}}
                            /hr
                        </span>
                    </h2>
                </div>

                <div class="row myRow mt-4 booksessionButton " style="float:right">
                    <button class="loginButton half-width-btn pointer" (click)="bookSession()">Book a Session <span
                        style="color:white;margin-right:6px;float:right"> <i class="fa fa-lg fa-arrow-right"
                                                                             aria-hidden="true"></i></span></button>
                </div>
            </div>
        </div>

        <div class="row myRow ">
            <div class="  offset-md-1 offset-lg-2 col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="row myRow" style="margin-top:1.7rem;">
                    <h5>
                        <span class="tutor-name-head proximanova-bold font-16"> About Me</span>
                    </h5>

                    <span class="tutor-details-text proximanova-reg font-16" style="word-wrap: break-word;
                    max-width: 100%;">
                        {{( tutor_details.tutor && tutor_details.tutor.aboutMe != undefined ) ?
                        tutor_details.tutor.aboutMe : 'N/A'}} </span>

                </div>
                <div class="row myRow mt-4">
                    <div style="display:grid">


                        <h5><span class="tutor-name-head proximanova-bold font-16"> Qualifications & Offerings</span>
                        </h5>
                        <span class="mr-2 mt-2"> <img class="certificate-icons mt-1px" [(src)]="certi_bgCheck"> <span
                            class="tutor-details-text proximanova-reg font-15"> Background Check </span> </span>
                        <span
                            *ngIf="tutor_details.tutor && tutor_details.tutor.educationalDegrees && tutor_details.tutor.educationalDegrees.length>0"
                            class="mr-2 mt-2  tutor-details-text font-15 proximanova-reg "> <img
                            class="certificate-icons mt-1px" [(src)]="certi_degCheck">
                            <span class="tutor-details-text proximanova-reg font-15"> Education </span> <br>
                            <span *ngFor=" let degree of tutor_details.tutor.educationalDegrees ">
                                <span class="display-list proximanova-reg font-15"
                                      style="width: 100%;margin-bottom:10px;">
                                    {{degree.intstitutionName ? degree.intstitutionName : ''}} <br>
                                    {{degree.degree ? ( degree.degree + ', ' ) : ''}} {{degree.subject ? degree.subject :
                                    ''}}


                                </span>
                            </span>
                        </span>
                        <span *ngIf="tutor_details.tutor && tutor_details.tutor.sylvanSyncEnabled == true"
                              class="mr-2 mt-2">
                            <img class="certificate-icons mt-1px" [(src)]="certi_sylCheck"> <span
                            class="tutor-details-text font-15 proximanova-reg">
                                Certified in the Sylvan Method </span> </span>
                        <span *ngIf="tutor_details.tutor && tutor_details.tutor.adminCertified == true"
                              class="mr-2 mt-2">
                            <img class="certificate-icons mt-1px" [(src)]="certi_stateCheck"> <span
                            class="tutor-details-text font-15 proximanova-reg">
                                State Certified Teacher </span> </span>
                        <span *ngIf="tutor_details.tutor && tutor_details.tutor.isTutorOfferOnlineClasses == true"
                              class="mr-2 mt-2">
                            <img class="certificate-icons" [(src)]="onlineSessions"> <span
                            class="tutor-details-text font-15 proximanova-reg">
                                Offers Online Tutoring </span> </span>

                    </div>

                </div>
                <br>
                <br>


            </div>

            <div class="  col-lg-3 col-md-6 col-xs-12 col-sm-12">

                <div
                    *ngIf="tutor_details.tutor && tutor_details.tutor != undefined && tutor_details.tutor.subjects && tutor_details.tutor.subjects != undefined && tutor_details.tutor.subjects.length >0  "
                    class="row myRow mt-4 ">
                    <h5><span class="tutor-name-head proximanova-bold  font-16 "> Subjects Tutored &nbsp; </span></h5>
                    <div>
                        <span *ngFor="let subject of tutor_details.tutor.subjects;let comma=last" class=""> <span
                            *ngIf="subject && subject.subcategories != undefined" style="line-height:1.71">
                                <span class="  proximanova-reg  font-15  "
                                      *ngFor="let subsubject of subject.subcategories;let i= index;let last=last">
                                    {{subsubject ? subsubject.name : '' }}{{( last && comma ) ? '' : ','}}&nbsp;
                                </span>
                            </span>
                        </span>

                    </div>
                </div>
                <div class="row myRow mt-4">
                    <h5><span class="tutor-name-head proximanova-bold font-16 "> Grades Tutored</span></h5>
                    <div>
                        <span *ngFor="let grade of tutor_details.tutor.gradeLevel;let last=last"
                              class="proximanova-reg font-15 ">
                            {{ grade ? ( grade ) : 'N/A' }}{{last ? '' : ','}}&nbsp; </span>

                    </div>

                </div>
                <div class="row myRow mt-4 ">
                    <h5><span class="tutor-name-head proximanova-bold font-16" style=""> Cancelation Policy </span>
                    </h5>

                    <span class="tutor-details-text font-15 proximanova-reg " style="line-height:1.5"
                          *ngIf="!isRateChargeSuppressNow">
                        {{tutor_details.tutor && tutor_details.tutor.cancellationPolicy ?
                        tutor_details.tutor.cancellationPolicy.text : ''}}
                    </span>

                    <span class="tutor-details-text font-15 proximanova-reg " style="line-height:1.5"
                          *ngIf="isRateChargeSuppressNow">
                        Per the parent employer agreement, if a parent cancels a scheduled session within
                        {{tutor_details?.tutor?.cancellationPolicy?.cancelsLessThan}} hours of
                        the start time, or the student is a no show with no prior communication,
                        the entire tutoring hour will be considered used.
                    </span>

                </div>


            </div>
        </div>
        <div style="display: block;"
             *ngIf="tutor_details.tutor && tutor_details.tutor.ratedCount !=undefined && progressBarData "
             class="row thisPlace myRow set-m-space">

            <h5>
                <span class="tutor-name-head proximanova-bold font-16 offset-lg-2 offset-md-4 mb-2 col-lg-10"> Customer Reviews</span>
            </h5>

            <div id="tutorDetailsStar" class="offset-lg-2 offset-md-4 col-lg-10 col-md-8 col-12 mb-3"
                 style="display:inline-flex;">
                <ng-template #t let-fill="fill">
                    <span class="starDetailsDown" [class.full]="fill === 100">
                        <span class="halfDetailsDown" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>


                <ngb-rating [rate]="roundOff(tutor_details.tutor.avgRating)" [starTemplate]="t" [readonly]="true"
                            class="set-t-star"
                            max="5">
                </ngb-rating>

                <span *ngIf="tutor_details.tutor.ratedCount && tutor_details.tutor.ratedCount > 0"
                      class="pinkText marginMobileDetails1" style="margin-top: -4px;margin-left: 10px; color: black">
                    {{tutor_details.tutor.avgRating | number:'1.1-1'}} out of 5

                </span><span class="review-text">({{tutor_details.tutor.ratedCount}} Reviews)</span>
            </div>
            <div class="progressBarRating offset-lg-2 offset-md-4 col-lg-4">
                <span style="margin-right: 9px;" class="starRatingText">5 Star</span>
                <!--                <p *ngIf="progressBarData && progressBarData[5]">-->
                <p>
                    <ngb-progressbar [value]="checkExist(100*progressBarData[5]/progressBarData.sum)"></ngb-progressbar>
                </p>
                <!--                <span -->
                <!--                    class="starRatingText">{{(100*progressBarData[5]/progressBarData.sum)| number : '1.0-1'}}%</span>-->
                <span
                    class="starRatingText set-percent">{{( checkExist(100 * progressBarData[5] / progressBarData.sum) )| number:'1.0-0' }}
                    %</span>

            </div>
            <div class="progressBarRating offset-lg-2 offset-md-4 col-lg-4">
                <span style="margin-right: 9px;" class="starRatingText">4 Star</span>
                <p>
                    <ngb-progressbar [value]="checkExist(100*progressBarData[4]/progressBarData.sum)"></ngb-progressbar>
                </p>
                <span
                    class="starRatingText set-percent">{{( checkExist(100 * progressBarData[4] / progressBarData.sum) )| number : '1.0-0'}}
                    %</span>

            </div>
            <div class="progressBarRating offset-lg-2 offset-md-4 col-lg-4">
                <span style="margin-right: 9px;" class="starRatingText">3 Star</span>
                <p>
                    <ngb-progressbar [value]="checkExist(100*progressBarData[3]/progressBarData.sum)"></ngb-progressbar>
                </p>
                <span
                    class="starRatingText set-percent">{{( checkExist(100 * progressBarData[3] / progressBarData.sum) )| number : '1.0-0'}}
                    %</span>

            </div>
            <div class="progressBarRating offset-lg-2 offset-md-4 col-lg-4">
                <span style="margin-right: 9px;" class="starRatingText">2 Star</span>
                <p>
                    <ngb-progressbar [value]="checkExist(100*progressBarData[2]/progressBarData.sum)"></ngb-progressbar>
                </p>
                <span
                    class="starRatingText set-percent">{{( checkExist(100 * progressBarData[2] / progressBarData.sum) )| number : '1.0-0'}}
                    %</span>

            </div>
            <div class="progressBarRating offset-lg-2 offset-md-4 col-lg-4">
                <span style="margin-right: 9px;" class="starRatingText">1 Star</span>
                <p>
                    <ngb-progressbar
                        [value]="checkExist(100*progressBarData[1]/progressBarData.sum)"></ngb-progressbar>
                </p>
                <span
                    class="starRatingText set-percent">{{( checkExist(100 * progressBarData[1] / progressBarData.sum) )| number : '1.0-0'}}
                    %</span>

            </div>
        </div>

        <div *ngIf="tutor_details_ratings && tutor_details_ratings !=undefined" class="row  mt-4 ">
            <div *ngFor=" let review of tutor_details_ratings "
                 class=" offset-md-2  offset-lg-2 col-lg-9 col-md-9 col-xs-12 col-sm-12 mt-3">
                <div class="row myRow mt-2 mb-2">
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 col-4">
                        <div
                            *ngIf="review.parentId && review.parentId != undefined && review.parentId.profilePicture && review.parentId.profilePicture !=undefined"
                            class=" justify-content-center ">
                            <img style="width: 70px; height: 70px;  border-radius: 50%; border: solid 2px #e5e5e5;"
                                 *ngIf="review.parentId.profilePicture.thumbnail != null"
                                 [(src)]="review.parentId.profilePicture.thumbnail" class="roundImage-tutor-review">
                            <img style="width: 70px; height: 70px;  border-radius: 50%; border: solid 2px #e5e5e5;"
                                 *ngIf="review.parentId.profilePicture.thumbnail === null" [(src)]="tutor_image"
                                 class="roundImage-tutor-review">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-8" style="padding-left:4%">
                        <div class="row myRow">
                            <h4 style="margin-bottom: -4px;">
                                <span class="tutor-name-review set-name-text">
                                    {{review.parentId ? review.parentId.firstName : '' }} {{review.parentId ?
                                    review.parentId.lasttName : '' }}</span>
                            </h4>
                        </div>
                        <div class="row myRow">
                            <h4>
                                <span class="tutor-name-review set-date-text">
                                    {{review.updatedAt ? ( review.updatedAt | datex: "MMM. D, YYYY" ) : ''}} |
                                    {{review.updatedAt ? ( review.updatedAt | datex:"h:mmA" ) : ''}} </span>
                            </h4>
                        </div>
                        <div id="tutorDetailsStar" class="row myRow" style="margin-top: -3px;">

                            <ng-template #t let-fill="fill">
                                <span class="starDetailsDown" [class.full]="fill === 100">
                                    <span class="halfDetailsDown" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>

                            <ngb-rating [rate]="review.rating" [starTemplate]="t" [readonly]="true" max="5">
                            </ngb-rating>
                        </div>
                        <div class="row myRow">
                            <span class="tutor-details-text proximanova-reg font-15" style="    max-width: 100%;
                            word-wrap: break-word;">
                                {{review.feedback}}
                            </span>
                        </div>


                    </div>
                </div>


            </div>

        </div>
        <div [hidden]="tutorLength === count" class="mt-4 pb-4 text-center">
            <button (click)="loadMore()" class="load-more"> Load More</button>
        </div>


    </div>


</div>
<router-outlet></router-outlet>
