<div style="float:right;padding:0px;margin-bottom:0px" class="row" mat-dialog-title>
    <button (click)="closeDialog()" style="border:none" class="close-btn pointer" mat-button mat-dialog-close="true">
        <img src="assets/img/close.png">
    </button>
</div>
<mat-dialog-content>

    <div *ngIf="message != undefined" class="myContainer mt-2 mb-4">

        <div class="text-center">
            <p class="error-data"> {{message}} </p>
        </div>
    </div>
    <div *ngIf="!distanceError" class="mt-2 text-center mb-2">
        <button (click)="closeDialog()" class="pinkButton mt-4 arrow-btn">OK
            <i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
    <div *ngIf="distanceError">

        <div class="row justify-content-center text-center ">
            <div class="mt-4 col-lg-12 col-md-12 col-sm-12 " style="margin:auto;display:inline-table; margin-bottom:3rem">
                <div class="mobileBtn">
                    <button style="height:44px; width:200px;" class="loginButton1 mb-2 " (click)="continueBooking()">Yes</button>
                    <button style="height:44px; width:200px;background: #e1134f" class=" loginButton1 mb-2" (click)="closeDialog()">No</button>&nbsp;

                </div>
                <div class="desktopBtn">

                    <button style="height:44px; width:200px;background: #e1134f" class=" loginButton1 mb-2" (click)="closeDialog()">No</button>
                    <button style="height:44px; width:200px;" class="loginButton1 mb-2" (click)="continueBooking()">Yes</button>&nbsp;

                </div>

            </div>
        </div>
    </div>
</mat-dialog-content>