@import '../../../../theme/sass/conf/conf';

/* msg center */

@-webkit-keyframes pulsate {
    30% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    35% {
        opacity: 1.0;
    }
    40% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.top-dropdown-menu .msg-list>a .msg-area span {
    display: inline-flex !important;
}

.smallNotification {
    font-size: 10px;
}

.top-notification {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.custommargin {
    margin-top: -10px
}

// .top-notification {
//     float: right;
//     padding: 0;
//     padding-top: 5px;
//     list-style: none;
//     margin: auto 15px;
//     li {
//         list-style: none;
//         float: left;
//         margin-left: 30px;
//         &:first-child {
//             margin-left: 0;
//         }
//         & > a {
//             color: $sidebar-text;
//             text-decoration: none;
//             font-size: 13px;
//             position: relative;
//             span {
//                 display: inline-block;
//                 min-width: 10px;
//                 padding: 2px 4px 2px 4px;
//                 color: white;
//                 vertical-align: baseline;
//                 white-space: nowrap;
//                 text-align: center;
//                 border-radius: 13px;
//                 text-shadow: none;
//                 line-height: 11px;
//                 background-color: firebrick;
//                 position: absolute;
//                 top: -5px;
//                 right: -14px;
//                 font-size: 11px;
//             }
//             .notification-ring {
//                 border: 1px solid darkred;
//                 border-radius: 100px;
//                 height: 40px;
//                 width: 40px;
//                 position: absolute;
//                 top: -18px;
//                 right: -17px;
//                 animation: pulsate 8s ease-out;
//                 animation-iteration-count: infinite;
//                 opacity: 0.0
//             }
//             &:hover {
//                 // color: $danger;
//                 &.msg {
//                     color: $primary;
//                 }
//             }
//             &.msg {
//                 span {
//                     background-color: $primary;
//                 }
//                 .notification-ring {
//                     border-color: $primary;
//                 }
//             }
//         }
//         &.open {
//             & > a {
//                 color: $danger;
//                 &.msg {
//                     color: $primary;
//                 }
//             }
//         }
//     }
// }
@media (max-width: $resXXS) {
    .top-notification {
        margin: auto 20px;
        li {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.msg-block-header {
    display: inline-block;
    padding: 0;
    font-size: 13px;
    margin: 0 0 0 6px;
}

.top-dropdown-menu {
    width: 316px;
    left: auto;
    right: -45px;
    top: 41px;
    background: darken(#ffffff, 5%);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .25);
    @include scrollbars(.4em, #f2f4f5, hsla(0, 0%, 100%, .2));
    a.text-muted {
        background-color: #ffffff;
    }
    a .msg-area div {
        color: #474747;
    }
    a .msg-area span {
        color: #474747;
    }
    a.text-primary .msg-area div {
        color: $warning !important;
    }
    a.text-primary {
        color: $warning !important;
        &:hover {
            .msg-area div {
                color: $warning !important;
            }
        }
    }
    .header {
        padding: 10px 12px;
        border-bottom: 1px solid rgba(7, 34, 62, .05);
        font-size: 12px;
        strong {
            float: left;
            color: $sidebar-text;
        }
        &>a {
            float: right;
            margin-left: 12px;
            text-decoration: none;
            color: $sidebar-text;
            &:hover {
                color: darken($sidebar-text, 20);
            }
        }
    }
    .msg-list {
        max-height: 280px;
        overflow: scroll;
        overflow-x: hidden;
        &>a {
            border-top: 1px solid rgba(7, 34, 62, .05);
            padding: 10px 12px;
            display: block;
            text-decoration: none;
            color: $dropdown-text;
            font-size: 12px;
            &:first-child {
                border-top: none;
            }
            .img-area {
                float: left;
                width: 36px;
                img {
                    width: 36px;
                    height: 36px;
                    &.photo-msg-item {
                        border-radius: 18px;
                    }
                }
                &>div {
                    width: 36px;
                    height: 36px;
                    border-radius: 4px;
                    font-size: 24px;
                    text-align: center;
                    &.comments {
                        color: $warning;
                    }
                    &.orders {
                        color: $warning;
                    }
                    i {
                        width: 36px;
                        line-height: 36px;
                    }
                }
            }
            .msg-area {
                float: left;
                width: 100%;
                div {
                    max-height: 34px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span {
                    font-style: italic;
                    text-align: right;
                    display: block;
                    font-size: 11px;
                }
            }
            &:hover {
                background: darken(#ffffff, 10%);
            }
            &.text-muted:hover {
                background: darken(#ffffff, 5%);
            }
        }
    }
    &>a {
        background: darken(#ffffff, 10%);
        border-top: 1px solid rgba(7, 34, 62, .05);
        border-radius: 0px 0px 4px 4px;
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        text-decoration: none;
        &:hover {
            color: $dropdown-text;
        }
    }
    &.profile-dropdown {
        width: 145px;
        top: 55px;
        right: -25px;
        a {
            text-align: left;
            border: none;
            text-decoration: none;
            color: $sidebar-text;
            padding: 4px 16px 4px 20px;
            &.signout {
                border-top: 1px solid $default;
            }
            i {
                margin-right: 10px;
            }
            &:hover {
                background: #f4fcff;
            }
        }
        i.dropdown-arr {
            right: 25px;
        }
    }
    i.dropdown-arr {
        position: absolute;
        top: -22px;
        right: 42px;
        display: block;
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: darken(#ffffff, 5%);
        &:after {
            top: -9px;
            left: 0px;
            margin-left: -10px;
            content: " ";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-bottom-color: darken(#ffffff, 5%);
        }
    }
}

@media (max-width: 415px) {
    .top-dropdown-menu {
        right: -78px;
        i.dropdown-arr {
            right: 75px;
        }
    }
}