<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">

        <div class="login-div">
            <h2 class="text-center">Parent Login</h2>

            <form [formGroup]="form" (ngSubmit)="formSubmit()">

                <div class="col-md-12 form-group">
                    <label class="label">User Name</label>
                    <input type="text" placeholder="Enter Username" formControlName="userName"
                           class="form-control">
                </div>

                <div class="col-md-12 form-group">
                    <label class="label">Password</label>
                    <input type="text" placeholder="Enter Password" formControlName="password"
                           class="form-control">
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>
