@import '../../../../theme/sass/auth';
@import "../../../../theme/sass/nouislider.min.scss";

.login-div {
    margin: 57px 30px;
    padding: 44px 15px;
    border: 1px solid #116db4;
    border-radius: 12px;
}
